<a href="https://colab.research.google.com/github/H1dayet/DataScience/blob/main/Copy_of_Homework1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Q1-Get your name and age as input and print it in the form like
#Your name is Hulisi. Your age is 43
#Hint:Convert age into sting with str
name=input('What is your name?')
age=input('What is your age?')
print('Your name is '+name+'. Your age is '+age)

What is your name? Hulisi
What is your age? 43
Your name is  Hulisi. Your age is  43

In [ ]:
#Q2-Write a if statement for a given two number is equal or not
a=43
b=54
if(a==b):
  print("a and b are equal")
else:
  print("a and b are not equal ")

a and b are not equal

In [ ]:
#Q3-Write a if statement for first number is greater (a), equal or less than second number.(b)
a=43
b=54
if(a>b):
  print("a is greater than b")
elif(a==b):
  print("a and b are equal")
else:
  print("a is less than b")

a is less than b

In [ ]:
#Q4- Using for loop, print 1,2,3,4,5
for k in range(1,6):
    print(k)

1
2
3
4
5

In [ ]:
#Q5-Using while loop, print 5,4,3,2,1
for k in range(5,0,-1):
    print(k)

5
4
3
2
1

In [ ]:
#Q6- Using for loop, print 10,6,4,2,0
#Hint Print if number is not equal to 8.
for k in range(10,-1,-2):
  if k!=8:
    print(k)

10
6
4
2
0

In [1]:
#Q7-Write a method to calculate age for a given date of birth year.
#Use this method in order to calculate age of person if date of birth is 1944
# if age is the name of function, print(age(1944))

print("Welcome to age calculator")
x=int(input("Please enter your birth year :\n"))
def calc(x=x, y=2022):
    return y-x
print(calc())

Welcome to age calculator
Please enter your birth year :
2000
22

In [2]:
#Q8-Write a class named arithmetic with method for calculating addition, substraction, multiplication and division of two numbers.
num1 = int(input("❯ Enter The First Number: "))
operator = (input("❯ Enter '+', '-', '*' or '/' "))
num2 = int(input("❯ Enter The Second Number: "))
if operator == '+':
    answer = num1 + num2
if operator == '-':
    answer = num1 - num2 
if operator == '*':
    answer = num1 * num2
if operator == '/':
    answer = num1 / num2
print("❯ The Answer Is " + str(answer))

❯ Enter The First Number: 31
❯ Enter '+', '-', '*' or '/' +
❯ Enter The Second Number: 69
❯ The Answer Is 100

In [3]:
#Q9- write a for loop or method  to calculate summation of first n numbers
#i.e if n=3, it will print or return 6 (1+2+3)
n = int(input("Enter number"))
sum = 0
# loop from 1 to n
for num in range(1, n + 1, 1):
    sum = sum + num
print("Sum of first ", n, "numbers is: ", sum)

Enter number3
Sum of first  3 numbers is:  6

In [ ]:
#Q10-Generate 10 numbers between 0 and 1 and add into list. Print first three elements of that list. 
import numpy as np
k=np.random.rand(1,10)
k
list=['0.60426515', '0.89324945', '0.62851729', '0.25652365', '0.36959345',
        '0.23005017', '0.87932625', '0.42085905', '0.5088697', '0.24404265']
print(list[:3])

['0.60426515', '0.89324945', '0.62851729']